fastapi
uvicorn
sqlalchemy
psycopg2-binary
twilio
google-genai
google-auth
jinja2
python-multipart
apscheduler
email-validator
requests
pydantic
beautifulsoup4
passlib
python-jose
bcrypt=4.0.1
