Fastapi
uvicorn
sqlalchemy
psycopg2-binary
twilio
google-genai
google-auth
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
jinja2
python-multipart
apscheduler
email-validator
requests
pydantic
beautifulsoup4
passlib
python-jose
bcrypt==4.0.1
